<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TruthOrDare.plist
   TruthOrDare

   Created by Marcus Thuvesen on 2024-03-10.
   Copyright (c) 2024 Marcus Thuvesen. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
